<!-- <!Doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Fashion | Home</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/fav.png">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/meanmenu.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body> -->
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--Header area start here-->
	<header>
		<div class="main-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
						<div class="logo">
							<a href="index.html"><%= image_tag("logo/logo.png") %></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
						<div class="main-menu">
							<nav>
								<ul>
									<li><a href="#">Men</a></li>
									<li><a href="#">Women</a></li>
									<li><a href="#">Boys</a></li>
									<li><a href="#">Girls</a></li>
									<li><a href="#">Kids</a></li>
									<li class="dropdown mega-dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Accessories <span class="caret"></span></a>           
										<ul class="dropdown-menu mega-dropdown-menu">
											<li class="col-md-2 col-sm-4">
												<ul>
													<li class="dropdown-header">Home Version</li>
													<li><a href="index.html">Home 1</a></li>
													<li><a href="index2.html">Home 2</a></li>
													<li><a href="index3.html">Home 3</a></li>
													<li><a href="index4.html">Home 4</a></li>
												</ul>
											</li>
											<li class="col-md-3 col-sm-4">
												<ul>
													<li class="dropdown-header">Shop Page</li>
													<li><a href="shop1.html">Shop 1</a></li>
													<li><a href="shop-left-sidbar.html">shop Left sidbar</a></li>
													<li><a href="shop-right-sidbar.html">shop Right sidbar</a></li>
													<li><a href="single-product1.html">single product1</a></li>
													<li><a href="single-product2.html">single product2</a></li>
													<li><a href="single-product3.html">single product3</a></li>
												</ul>
											</li>
											<li class="col-md-3 col-sm-4">
												<ul>
													<li class="dropdown-header">Blog Page</li>
													<li><a href="blog1.html">blog1</a></li>
													<li><a href="blog2.html">blog2</a></li>
													<li><a href="single-blog.html">single blog</a></li>        
												</ul>
											</li>
											<li class="col-md-3 col-sm-4">
												<ul>
													<li class="dropdown-header">Other Pages</li>
													<li><a href="shipping.html">shipping</a></li>
													<li><a href="contact.html">contact</a></li>
													<li><a href="404.html">404-error</a></li>        
												</ul>
											</li>
										</ul>               
									</li>
									<li><a href="#">About</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
						<div class="search-box">
							<div class="input-group stylish-input-group">
								<input type="text" class="form-control"  placeholder="Search" >
								<span class="input-group-addon">
									<button type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>  
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
				  <div class="col-md-12">
					<div class="mobile-menu">
					  <nav id="dropdown">
						<ul>
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Boys</a></li>
							<li><a href="#">Girls</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Accessories</a>
								<ul>
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index2.html">Home 2</a></li>
									<li><a href="index3.html">Home 3</a></li>
									<li><a href="index4.html">Home 4</a></li>
									<li><a href="shop1.html">Shop 1</a></li>
									<li><a href="shop-left-sidbar.html">shop Left sidbar</a></li>
									<li><a href="shop-right-sidbar.html">shop Right sidbar</a></li>
									<li><a href="single-product1.html">single product1</a></li>
									<li><a href="single-product2.html">single product2</a></li>
									<li><a href="single-product3.html">single product3</a></li>
									<li><a href="blog1.html">blog1</a></li>
									<li><a href="blog2.html">blog2</a></li>
									<li><a href="single-blog.html">single blog</a></li>
									<li><a href="shipping.html">shipping</a></li>
									<li><a href="contact.html">contact</a></li>
									<li><a href="404.html">404-error</a></li>
								</ul>
							</li>
							<li><a href="#">About</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					  </nav>
					</div>          
				  </div>
				</div>
			</div>
		</div> 
	</header>
	<!--Header area end here-->
	
	<!--Slider area start here-->
	<section class="slider-area">
		<div id="mr-carosel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="slider-bg1"></div>
					<div class="slide-tab">
						<div class="slide-cell">
							<div class="container-fluid">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-1">
									<div class="slider-content">
										<h1 class="be">New Summer</h1>
										<h3>Collection 2017</h3>
										<p>Smply dummy text of the printing and typesetting industry area loredim some dolalr its’ free dummy Dorem Ipsum standard dummysince.</p>
										<a class="btn1" href="#">Shop Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slider-bg2"></div>
					<div class="slide-tab">
						<div class="slide-cell">
							<div class="container-fluid">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-1">
									<div class="slider-content">
										<h1 class="be">New Summer</h1>
										<h3>Collection 2017</h3>
										<p>Smply dummy text of the printing and typesetting industry area loredim some dolalr its’ free dummy Dorem Ipsum standard dummysince.</p>
										<a class="btn1" href="#">Shop Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Slider area end here-->
		
	<!--Services area start here-->
	<section class="services-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 accurate">
					<div class="single-services services1 af">
						<figure>
							<%= image_tag("services/1.jpg") %>
							<div class="services-content">
								<h2>men</h2>
								<p>Check Our New Collection</p>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 accurate">
					<div class="single-services services2 af">
						<figure>
							<%= image_tag("services/2.jpg") %>
							<div class="services-content">
								<h2>Women</h2>
								<p>Check Our New Collection</p>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 accurate">
					<div class="single-services services3 af">
						<figure>
							<%= image_tag("services/3.jpg") %>
							<div class="services-content">
								<h2>Kids</h2>
								<p>Check Our New Collection</p>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Services area end here-->
		
	<!--New product area start here-->
	<section class="new-product-area section-two">
		<div class="container">
			<div class="row mr-b30">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="product-heading">
						<h1>Featured Collections</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="all">
							<div class="row accurate">
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 accurate">
									<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 accurate">
										<div class="product-single">
											<figure>
												<%= image_tag("product/13.jpg", :class => "normal") %>
												<%= image_tag("product/13h.jpg", :class => "hover") %>
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-eye"></i></a></li>
												</ul>
												<div class="product-des">
													<a href="#"><h4>Pumaa laging</h4></a>
													<p>Man Accessories</p>
												</div>
											</figure>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 accurate">
										<div class="product-single">
											<figure>
												<%= image_tag("product/15.jpg", :class => "normal") %>
												<%= image_tag("product/15h.jpg", :class => "hover") %>
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-eye"></i></a></li>
												</ul>
												<div class="product-des">
													<a href="#"><h4>Nikea </h4></a>
													<p>Men</p>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 accurate">
									<div class="product-banner-slider">
										<div class="single-banner">
											<div class="product-img">
												<%= image_tag("banner/1.jpg") %>
											</div>
											<!--div class="product-banner-con">
												<h1>Leather X</h1>
												<p>Horizon Waterproof Bag</p>
												<a class="btn1" href="#">Read MOre</a> 
											</div-->
										</div>
										<div class="single-banner">
											<div class="product-img">
												<%= image_tag("banner/2.jpg") %>
											</div>
											<!--div class="product-banner-con">
												<h1>Leather X</h1>
												<p>Horizon Waterproof Bag</p>
												<a class="btn1" href="#">Read MOre</a> 
											</div-->											
										</div>
										<div class="single-banner">
											<div class="product-img">
												<%= image_tag("banner/3.jpg") %>
											</div>
											<!--div class="product-banner-con">
												<h1>Leather X</h1>
												<p>Horizon Waterproof Bag</p>
												<a class="btn1" href="#">Read MOre</a> 
											</div-->											
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 accurate">
									<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 accurate">
										<div class="product-single">
											<figure>
												<%= image_tag("product/2.jpg", :class => "normal") %>
												<%= image_tag("product/2h.jpg", :class => "hover") %>
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-eye"></i></a></li>
												</ul>
												<div class="product-des">
													<a href="#"><h4>Pumaa Redwine</h4></a>
													<p>Men -shirt</p>
												</div>
											</figure>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 accurate">
										<div class="product-single">
											<figure>
												<%= image_tag("product/4.jpg", :class => "normal") %>
												<%= image_tag("product/4h.jpg", :class => "hover") %>
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-eye"></i></a></li>
												</ul>
												<div class="product-des">
													<a href="#"><h4>Froge Vintage</h4></a>
													<p>Women Dress</p>
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="row accurate">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
									<div class="product-single">
										<figure>
											<%= image_tag("product/2.jpg", :class => "normal") %>
											<%= image_tag("product/2h.jpg", :class => "hover") %>
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-eye"></i></a></li>
											</ul>
											<div class="product-des">
												<a href="#"><h4>Nikea </h4></a>
												<p>Men</p>
											</div>
										</figure>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
									<div class="product-single">
										<figure>
											<%= image_tag("product/13.jpg", :class => "normal") %>
											<%= image_tag("product/13h.jpg", :class => "hover") %>
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-eye"></i></a></li>
											</ul>
											<div class="product-des">
												<a href="#"><h4>Nikea </h4></a>
												<p>Men</p>
											</div>
										</figure>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
									<div class="product-single">
										<figure>
											<%= image_tag("product/21.jpg", :class => "normal") %>
											<%= image_tag("product/21h.jpg", :class => "hover") %>
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-eye"></i></a></li>
											</ul>
											<div class="product-des">
												<a href="#"><h4>Nikea </h4></a>
												<p>Men</p>
											</div>
										</figure>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
									<div class="product-single">
										<figure>
											<%= image_tag("product/15.jpg", :class => "normal") %>
											<%= image_tag("product/15h.jpg", :class => "hover") %>
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-eye"></i></a></li>
											</ul>
											<div class="product-des">
												<a href="#"><h4>Nikea </h4></a>
												<p>Men</p>
											</div>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="men">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/2.jpg", :class => "normal") %>
										<%= image_tag("product/2h.jpg", :class => "hover") %>
										<span class="price">$20</span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>Pumaa Redwine</h4></a>
											<p>Men -shirt</p>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="women">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/8.jpg", :class => "normal") %>
										<%= image_tag("product/8h.jpg", :class => "hover") %>
										<span class="price">$60</span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>Nikea Sports Shoe</h4></a>
											<p>Women Shoes</p>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="electronics">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/5.jpg", :class => "normal") %>
										<%= image_tag("product/5h.jpg", :class => "hover") %>
										<span class="price">$30</span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>Beat HeadPhone</h4></a>
											<p>Accessories</p>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="accessories">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/5.jpg", :class => "normal") %>
										<%= image_tag("product/5h.jpg", :class => "hover") %>
										<span class="price">$30</span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>Beat HeadPhone</h4></a>
											<p>Accessories</p>
										</div>
									</figure>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/6.jpg", :class => "normal") %>
										<%= image_tag("product/6h.jpg", :class => "hover") %>
										<span class="product-position color1">New</span>
										<span class="price">$19</span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>GUCCI Glass</h4></a>
											<p>Accessories</p>
										</div>
									</figure>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 accurate">
								<div class="product-single">
									<figure>
										<%= image_tag("product/7.jpg", :class => "normal") %>
										<%= image_tag("product/7h.jpg", :class => "hover") %>
										<span class="product-position color2">Sale!</span>
										<span class="price"><del>$360</del><strong>$200</strong></span>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-eye"></i></a></li>
										</ul>
										<div class="product-des">
											<a href="#"><h4>Sony 4k  Smart Tv</h4></a>
											<p>Accessories</p>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--New product area end here-->
	
	<!--Banner area two start here-->
	<section class="banner-two-area" style="background-image: url(<%= asset_path 'buy-now-bg.jpg' %>);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="banner-con">
						<h2>CREATE YOUR OWN FASHION STORE WITH <span>Fashion</span></h2>
						<h4>Fashion has everything that you need to create beautiful fashion and sell.</h4>
						<a class="btn1" href="#">Request a Quote</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Banner area two end here-->
	
	<!--Ads area start here-->
	<section class="ads-area-fore mr-t70 mr-b70">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ads-single">
						<figure>
							<a href="http://affiliate.flipkart.com/install-app?affid=maurya134" target="_blank"><img src="http://img5a.flixcart.com/www/promos/new/20141113-130946-instagift-300-250-2.jpg" alt=""/></a>
						</figure>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ads-single">
						<figure>
							<a href="http://affiliate.flipkart.com/install-app?affid=maurya134" target="_blank"><img src="https://affiliate-static.flixcart.com/affiliate/banners/FO300-x-250.jpg" alt=""/></a>
						</figure>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ads-single">
						<figure>
							<a href="http://affiliate.flipkart.com/install-app?affid=maurya134" target="_blank"><img src="http://img1a.flixcart.com//www/promos/new/20130808-184521-dotd-affliate-display-ad.jpg" alt=""/></a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Ads area end here-->
	
	<!--Footer area start here-->
	<footer  class="footer-one">
		<div class="footer-top pd-t50 pd-b50">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="footer-link">
							<h4>Information</h4>
							<ul class="link-list">
								<li><a href="#">Men</a></li>
								<li><a href="#">Women</a></li>
								<li><a href="#">Boys</a></li>
								<li><a href="#">Girls</a></li>
								<li><a href="#">Kids</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="footer-link">
							<h4>Information</h4>
							<ul class="link-list">
								<li><a href="#">About us</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Terms & condition</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="footer-link">
							<h4>Information</h4>
							<ul class="link-list">
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Become a Fashion</a></li>
								<li><a href="#">Advertise</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="footer-link">
							<h4>NewsLetter Sign Up!</h4>
							<form>
								<div class="input-prepend">
									<input type="text" placeholder="E-mail...">
									<button type="submit"><i class="fa fa-angle-right"></i></button>
								</div>
							</form>
							<p class="social-head">Follow Us On:</p>
							<ul class="socila-link">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="copyright">
							<p>© 2017 Fashion. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--Footer area end here-->
	
	<!-- <script src="js/vendor/jquery-1.12.0.min.js"></script> -->
	<!-- <script src="js/bootstrap.min.js"></script> -->
	<!-- <script src="js/owl.carousel.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.meanmenu.js"></script>
	<script src="js/jarallax.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/touchslider.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/jquery.downCount.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html> -->
